*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    height: 80vh;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 5vw);
    margin: 5% 10%;
}

.item{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.item:first-child{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}
.item:nth-child(2) {
    grid-column: 3 / span 3;
    grid-row: 1 / span 3;
}
.item:nth-child(3) {
    grid-column: 6 / span 1;
    grid-row: 1 / span 2;
}
.item:nth-child(4){
    grid-column: 7 / span 2;
    grid-row: 1 / span 2;
}
.item:nth-child(5){
    grid-column: 1 / span 2;
    grid-row: 3 / span 3;
}
.item:nth-child(6){
    grid-column: 3 / span 2;
    grid-row: 4 / span 2;
}
.item:nth-child(7) {
    grid-column: 5 / span 1;
    grid-row: 4 / span 1;
}
.item:nth-child(8) {
    grid-column: 6 / span 2;
    grid-row: 3 / span 2;
}
.item:nth-child(9) {
    grid-column: 8 / span 1;
    grid-row: 3 / span 3;
}
.item:nth-child(10) {
    grid-column: 1 / span 1;
    grid-row: 6 / span 2;
}
.item:nth-child(11) {
    grid-column: 2 / span 2;
    grid-row: 6 / span 2;
}
.item:nth-child(12) {
    grid-column: 4 / span 1;
    grid-row: 6 / span 2;
}
.item:nth-child(13) {
    grid-column: 5 / span 3;
    grid-row: 5 / span 3;
}
.item:last-child {
    grid-column: 8 / span 1;
    grid-row: 6 / span 2;
}
